.logo-ecoSphere{
    width: 50px;
    height: 50px;
}

.climate-feed {
    background-color: #e8f5e9; /* Fundo leve para contraste */
    color: #2e7d32; /* Verde escuro */
    margin-top: 15px;
    padding: 10px;
    font-size: 1.1rem;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
}

.climate-feed span {
    display: inline-block;
    padding-right: 50px;
    animation: scroll 50s linear infinite;
}

.grid-artigos {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* 3 colunas */
    grid-template-rows: 1fr 1fr 1fr; /* 3 linhas */
    gap: 15px;
}

.destaque {
    grid-column: span 2; /* Ocupa 2 colunas */
    grid-row: span 2;    /* Ocupa 2 linhas */
}


@keyframes scroll {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}

@media (min-width: 992px) {
    .navbar {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1030;
    }
    body {
        padding-top: 56px; /* Altura da navbar fixa */
    }
}

@media (min-width: 992px) {
    .navbar {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1030;
    }
    body {
        padding-top: 56px; /* Altura da navbar fixa */
    }

    /* Ensure the navbar items are centered and spaced properly */
    .navbar-nav {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px; /* Adjust the gap between items as needed */
    }
}

@media (max-width: 991px) {
    .climate-feed{
        margin-top: 0px;
    }
    .grid-artigos{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .navbar-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}